.slide img, .latestProduct img{ 
 border-radius: 10px; 
}

.latestProduct .title, .topBrands .title, .addCont .title, .focusProduct .title{
    font-weight: bold;
    font-size: 2rem;
    padding: 0.4em 0em;
}
.addCont img {
    height: 100%;
    width: 100%;
}
.addCont .add, .slider .slide{
    padding: 0 1em;
}
.slider .slide:first-child, .addCont .add, .topBrands .slide:first-child, .focusProduct .slide:first-child {
    padding-left: 0em !important;
}
.addCont .add:last-child, .slider .slide:last-child{
    padding-right: 0em !important;
}
.topBrands .slide, .focusProduct .slide{
    padding: 0em 1em;
}
.topBrands img, .focusProduct img {
    height: 300px;
    width: 100%;
}
.topBrands .button, .focusProduct .button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background: #F1EAFF;
    color: purple;
    padding: 0.5em 1em;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}
.topBrands .des, .focusProduct .des {
    font-size: 1.2rem;
    font-weight: bold;
}
.topBrands .des2, .focusProduct .des2{
    font-size: 1rem;
    font-weight: gray;
}