*{
    padding: 0em;
    margin: 0em;
    position: relative;
}
.h-content{
    min-height: calc(100vh - 280px);
    height: 100%;
    padding: 1em;
}
.iconContainer {
    position: absolute;
    right: 1%;
    bottom: 1%;
    background: #4C9BBA;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.iconContainer svg{
    height: 25px;
    width: 25px;
}
.cur-pointer {
    cursor: pointer;
}